
    <div class="container bg-primary rounded shadow-md m-1">
      <div class="col-xl-12 mb-6">
        <hr>
        <h5 class="text-light m-2 ">Available Rooms</h5>
        <hr>
        <div class="card bg-light">
          <div class="card-body ">
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                <div class="ms-3">
                  <p class="fw-bold mb-1 text-dark"><strong>Room Name</strong></p>
                  <p class="text-muted mb-0">Room Type</p>
                </div>
              </div>
              <span class="badge bg-success">Available</span>
            </div>
          </div>
        </div>

        <div class="card bg-light mt-2">
          <div class="card-body ">
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                <div class="ms-3">
                  <p class="fw-bold mb-1 text-dark"><strong>Room Name</strong></p>
                  <p class="text-muted mb-0">Room Type</p>
                </div>
              </div>
              <span class="badge bg-danger">Reserved</span>
            </div>
          </div>
        </div>

        <div class="card bg-light mt-2">
          <div class="card-body ">
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                <div class="ms-3">
                  <p class="fw-bold mb-1 text-dark"><strong>Room Name</strong></p>
                  <p class="text-muted mb-0">Room Type</p>
                </div>
              </div>
              <span class="badge bg-success">Available</span>
            </div>
          </div>
        </div>

      </div>
    </div>
